Repository artigraph/artigraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

poetry-check:
  name: poetry-check
  entry: poetry check
  language: system
  pass_filenames: false

pyupgrade:
  name: pyupgrade
  entry: pyupgrade --keep-runtime-typing --py39-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: black
  language: system

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

bandit:
  name: bandit
  entry: bandit -ll -r
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c
  args:
  ...

Bump to v0.0.5a0
  pyproject.toml
Due: poetry-check

Ignore ruff check for unnecessary elif/else after returns
  pyproject.toml
Due: poetry-check

Update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: blacken-docs

Fix pickle.loads
  pyproject.toml
  src/arti/io/pickle_gcsfile_python.py
  src/arti/io/pickle_localfile_python.py
Due: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add dependabot-auto-approve workflow
  .github/workflows/dependabot-auto-approve.yaml
Due: none

Add dependabot-auto-approve workflow (#366)
  .github/workflows/dependabot-auto-approve.yaml
Due: none

Fix dependabot-auto-approve
  .github/workflows/dependabot-auto-approve.yaml
Due: none

Ignore useless expression check in tests
  pyproject.toml
Due: poetry-check

Only enable auto-merge for dependabot PRs
  .github/workflows/dependabot-auto-approve.yaml
Due: none

Remove dependabot-auto-approve.yaml
  .github/workflows/dependabot-auto-approve.yaml
Due: none

Remove dependabot-auto-approve.yaml (#367)
  .github/workflows/dependabot-auto-approve.yaml
Due: none

Add ignore
  src/arti/versions/__init__.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Apply sourcery suggestions
  src/arti/internal/models.py
  src/arti/internal/type_hints.py
  src/arti/internal/utils.py
  src/arti/partitions/__init__.py
  src/arti/producers/__init__.py
  src/arti/storage/__init__.py
  src/arti/storage/_internal.py
  src/arti/types/__init__.py
  src/arti/types/python.py
  src/arti/views/__init__.py
  tests/arti/producers/test_producer.py
  tests/arti/storage/test_storage.py
  tests/arti/types/test_pydantic_adapters.py
  tests/arti/types/test_types.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add .sourcery.yaml
  .sourcery.yaml
Due: none

Simplify STORAGE_EMULATOR_HOST in tests after gcsfs bump
  tests/conftest.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Relock
  poetry.lock
Due: none

Update ruff pyupgrade config
  pyproject.toml
Due: poetry-check

Remove now unused noqa
  src/arti/internal/type_hints.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Update poetry in CI
  .github/workflows/ci.yaml
Due: none

Update to poetry 1.5 and relock deps (#392)
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
  src/arti/internal/type_hints.py
Due: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add ClassVar hints
  src/arti/internal/models.py
  src/arti/types/pyarrow.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Rename golden branch to main
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  pyproject.toml
Due: poetry-check, blacken-docs

Rename golden branch to main (#418)
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  pyproject.toml
Due: poetry-check, blacken-docs

Use ruff keep-runtime-typing setting again
  pyproject.toml
Due: poetry-check

Apply new ruff rewrites (and just remove typing.Tuple tests...)
  src/arti/internal/type_hints.py
  src/arti/storage/_internal.py
  tests/arti/internal/test_type_hints.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Update gitignore
  .gitignore
Due: none

Bump poetry in CI
  .github/workflows/ci.yaml
Due: none

Add to gitignore and update poetry in CI (#421)
  .github/workflows/ci.yaml
  .gitignore
Due: none

Use grouped dependabot updates and change to Monday
  .github/dependabot.yaml
Due: none

Use grouped dependabot updates and change to Monday (#422)
  .github/dependabot.yaml
Due: none

Update doc community sections
  README.md
  SUPPORT.md
Due: blacken-docs

tidy
  SUPPORT.md
Due: blacken-docs

Update doc community sections (#424)
  README.md
  SUPPORT.md
Due: blacken-docs

Path conditions:
  poetry-check: any of: ^pyproject.toml$
  pyupgrade: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(md|markdown|mdown)$, \.py$
  bandit: any of: ^src/ and \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
