Repository artigraph/artigraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, blacken-docs, pyupgrade, isort, black, pytest

bandit:
  name: bandit
  entry: bandit -ll -r
  language: system

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade --keep-runtime-typing --py39-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: black
  language: system

pytest:
  name: pytest
  entry: pytest --cov-fail-under=90
  language: system
  pass_filenames: false

Allow signed commits by project members to bypass DCO
  .github/dco.yaml
Due: none

Ease DCO (#181)
  .envrc
  .github/dco.yaml
  .pre-commit-config.yaml
  bin/add-dco-signoff.sh
Due: none

Misc .envrc updates
  .envrc
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: blacken-docs

Fix DCO yml file name
  .github/dco.yml
Due: none

Update README
  README.md
Due: blacken-docs

Add GOVERNANCE and expand CONTRIBUTING
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  SECURITY.md
Due: blacken-docs

Add Issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: blacken-docs

Add CHANGELOG, CODE_OF_CONDUCT, CONTRIBUTING, and SECURITY files
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Due: blacken-docs

Add TSC folder
  tsc/README.md
  tsc/meetings/README.md
Due: blacken-docs

Add CHARTER
  CONTRIBUTING.md
  tsc/CHARTER.pdf
Due: blacken-docs

Move support docs to SUPPORT
  CONTRIBUTING.md
  SUPPORT.md
Due: blacken-docs

Add repolinter workflow
  .github/workflows/repolinter.yaml
Due: none

Update README.md
  README.md
Due: blacken-docs

Add administrative docs (#187)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/workflows/repolinter.yaml
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  SECURITY.md
  SUPPORT.md
  tsc/CHARTER.pdf
  tsc/README.md
  tsc/meetings/README.md
Due: blacken-docs

Fix bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: blacken-docs

Fix GOVERNANCE header
  GOVERNANCE.md
Due: blacken-docs

Update OpenSSF ref
  README.md
Due: blacken-docs

Add portray dep
  poetry.lock
  pyproject.toml
Due: none

Fix header link
  CONTRIBUTING.md
Due: blacken-docs

Remove repo only links
  CONTRIBUTING.md
Due: blacken-docs

Replace .md link text
  CONTRIBUTING.md
  README.md
  SUPPORT.md
Due: blacken-docs

Add v0.0.1 changelog entries
  CHANGELOG.md
Due: blacken-docs

Deployed 8e04450 with MkDocs version: 1.2.3
  reference/arti/graphs/index.html
  reference/arti/internal/utils/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Add first pass documentation (#189)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SUPPORT.md
  poetry.lock
  pyproject.toml
Due: blacken-docs

Always watch dev files in .envrc
  .envrc
Due: none

Add publish-docs workflow
  .github/workflows/publish-docs.yaml
Due: none

Update py CI versions
  .github/workflows/ci.yaml
  .github/workflows/publish-docs.yaml
Due: none

Fix publish-docs workflow
  .github/workflows/publish-docs.yaml
  pyproject.toml
Due: none

Simplify isort config
  pyproject.toml
Due: none

Add Weekly Analysis GH action with trufflehog and repolinter
  .github/workflows/codeql-analysis.yaml
  .github/workflows/repolinter.yaml
  .github/workflows/weekly-analysis.yaml
Due: none

Fix missing flag
  .github/workflows/weekly-analysis.yaml
Due: none

Remove trufflehog from pre-commit due to branch push issues
  .pre-commit-config.yaml
Due: none

Ignore sh in mypy/pylint
  pyproject.toml
Due: none

Add GCSFile Storage
  poetry.lock
  pyproject.toml
  src/arti/io/json_gcsfile_python.py
  src/arti/io/pickle_gcsfile_python.py
  src/arti/storage/google/cloud/storage.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Use gcp-storage-emulator
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: blacken-docs, pyupgrade, isort, black, pytest

Download and run fake-gcs-server directly in tests
  tests/conftest.py
Due: blacken-docs, pyupgrade, isort, black, pytest

Path conditions:
  bandit: any of: ^src/ and \.py$
  blacken-docs: any of: \.(md|markdown|mdown)$, \.py$
  pyupgrade: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  pytest: any of: \.py$
