Repository artigraph/artigraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, blacken-docs, pyupgrade, isort, black, pytest

bandit:
  name: bandit
  entry: bandit -ll -r
  language: system

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

pyupgrade:
  name: pyupgrade
  entry: pyupgrade --keep-runtime-typing --py39-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: black
  language: system

pytest:
  name: pytest
  entry: pytest --cov-fail-under=90
  language: system
  pass_filenames: false

Install all optional deps in dev env
  .envrc
Due: none

Install all optional deps in CI
  .github/workflows/ci.yaml
Due: none

Mark pyarrow dep as optional
  poetry.lock
  pyproject.toml
Due: none

Change dependabot day to Saturday
  .github/dependabot.yaml
Due: none

added extends type system
  src/arti/types/__init__.py
  src/arti/types/pydantic.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Hack around pydantic outer_type_ ForwardRef
  src/arti/types/__init__.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Add pull_request trigger to ci workflow
  .github/workflows/ci.yaml
Due: none

Only run push on golden branch to avoid dup runs in PRs
  .github/workflows/ci.yaml
Due: none

Attempt to fix skipped CI jobs on external PRs (#251)
  .github/workflows/ci.yaml
Due: none

Support circular type_system conversions
  src/arti/types/__init__.py
  src/arti/types/pyarrow.py
  src/arti/types/pydantic.py
  src/arti/types/python.py
  tests/arti/types/test_python_adapters.py
  tests/arti/types/test_types.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Add NoCopyMixin and NoCopyDict to ease intentionally mutable model private attributes
  src/arti/backends/memory.py
  src/arti/internal/utils.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Use NoCopyDict instead of global _TYPE_SYSTEM_ADAPTERS
  src/arti/types/__init__.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Rename type_system kwarg to root_type_system
  src/arti/types/__init__.py
  tests/arti/types/test_python_adapters.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Replace hard coded *_type_system references in TypeAdapters
  src/arti/types/pyarrow.py
  src/arti/types/python.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Remove extra parens
  src/arti/types/pydantic.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

fmt
  tests/arti/types/test_types.py
Due: blacken-docs, pyupgrade, isort, black, pytest

Add dynamic extension note
  tests/arti/types/test_types.py
Due: blacken-docs, pyupgrade, isort, black, pytest

Add TypeSystem.extends (#250)
  src/arti/types/__init__.py
  src/arti/types/pyarrow.py
  src/arti/types/pydantic.py
  src/arti/types/python.py
  tests/arti/types/test_python_adapters.py
  tests/arti/types/test_types.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Move arti.internal.version to arti.__version__
  src/arti/__init__.py
  src/arti/internal/__init__.py
  tests/arti/internal/test_internal.py
  tests/arti/test_version.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Run doctests with pytest
  pyproject.toml
Due: none

Add optional numpy and pandas deps
  poetry.lock
  pyproject.toml
Due: none

Add numpy_type_system
  pyproject.toml
  src/arti/types/numpy.py
  tests/arti/types/test_numpy_adapters.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Add pandas_type_system
  src/arti/types/pandas.py
  tests/arti/types/test_pandas_adapters.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Add xfail test for complex pd.Series values
  tests/arti/types/test_pandas_adapters.py
Due: blacken-docs, pyupgrade, isort, black, pytest

Move TypeSystem.extends definition up
  src/arti/types/__init__.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Simplify ArtifactBox value conversion
  src/arti/graphs/__init__.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Add wrong-import-position to pylint ignore
  pyproject.toml
Due: none

Fix pickling of Artifact.from_type(...) classes
  src/arti/artifacts/__init__.py
  tests/arti/artifacts/test_artifact.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Remove no_type_check around types.UnionType
  src/arti/internal/type_hints.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Add no-else-return to pylint ignore
  pyproject.toml
Due: none

Show mypy error codes
  pyproject.toml
Due: none

Move utils.dispatch to dispatch.multipledispatch
  src/arti/internal/dispatch.py
  src/arti/internal/utils.py
  src/arti/io/__init__.py
  tests/arti/internal/test_dispatch.py
  tests/arti/internal/test_utils.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Add one_or_none and get_item_from_annotated helpers
  src/arti/internal/type_hints.py
  src/arti/internal/utils.py
  tests/arti/internal/test_type_hints.py
  tests/arti/internal/test_utils.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Add multipledispatch.lookup helper
  src/arti/internal/dispatch.py
  src/arti/io/__init__.py
  tests/arti/internal/test_dispatch.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Path conditions:
  bandit: any of: ^src/ and \.py$
  blacken-docs: any of: \.(md|markdown|mdown)$, \.py$
  pyupgrade: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  pytest: any of: \.py$
