Repository artigraph/artigraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, blacken-docs, pyupgrade, isort, black, pytest

.pre-commit-config.yaml:

default_stages: [commit, push, manual]
repos:
  - repo: local
    hooks:
      - id: dco-sign-off
        name: DCO Sign-off
        entry: sh bin/add-dco-signoff.sh
        stages: [prepare-commit-msg]
        language: system
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, golden]
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
  - repo: local  # Prefer local tools to streamline version management with poetry
    hooks:
      - id: bandit
        name: bandit
        entry: bandit -ll -r
        files: '^src/'
        language: system
        types: [python]
      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [markdown, python]
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --keep-runtime-typing --py39-plus
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: pytest
        name: pytest
        # If tests become too slow, mark slow ones and omit. We'll add a little coverage buffer for working commits,
        # though CI/PRs will still enforce 100%.
        entry: pytest --cov-fail-under=90
        language: system
        pass_filenames: false
        types: [python]
      # trufflehog only works against commits (not the index), which prevents use in the pre-commit hook. It could run
      # as post-commit, but that introduces a lot of noise. Instead, we'll just run before push.
      - id: trufflehog
        name: trufflehog
        entry: trufflehog --exclude_paths .trufflehog_ignore.txt --regex .
        language: system
        pass_filenames: false
        stages: [push]

Add get_module_name helper
  src/arti/internal/utils.py
  tests/arti/internal/test_utils.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Check Format.type_system compatibility with the passed Type
  src/arti/formats/__init__.py
  tests/arti/dummies.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Replace Artifact.is_partitioned with types.is_partitioned
  src/arti/artifacts/__init__.py
  src/arti/graphs/__init__.py
  src/arti/io/__init__.py
  src/arti/io/json_gcsfile_python.py
  src/arti/io/json_localfile_python.py
  src/arti/io/json_stringliteral_python.py
  src/arti/io/pickle_gcsfile_python.py
  src/arti/io/pickle_localfile_python.py
  src/arti/producers/__init__.py
  src/arti/types/__init__.py
  tests/arti/artifacts/test_artifact.py
  tests/arti/types/test_types.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Replace View.get_class_for with View.from_annotation
  src/arti/executors/local.py
  src/arti/graphs/__init__.py
  src/arti/producers/__init__.py
  src/arti/views/__init__.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/producers/test_producer.py
  tests/arti/views/test_python.py
  tests/arti/views/test_views.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Add Artifact defaults for Format and Storage
  src/arti/artifacts/__init__.py
  src/arti/formats/__init__.py
  src/arti/storage/__init__.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Add multipledispatch.discovery_func to trigger delayed registration
  src/arti/internal/dispatch.py
  src/arti/io/__init__.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Don't allow <100% coverage in pre-commit on golden
  .pre-commit-config.yaml
Due: none

Refactor Producer to leverage Type directly and allow direct Artifact instantiation
  src/arti/artifacts/__init__.py
  src/arti/executors/local.py
  src/arti/internal/models.py
  src/arti/producers/__init__.py
  tests/arti/artifacts/test_artifact.py
  tests/arti/dummies.py
  tests/arti/graphs/test_graph.py
  tests/arti/producers/test_producer.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Add test for pickling an Artifact
  tests/arti/artifacts/test_artifact.py
Due: blacken-docs, pyupgrade, isort, black, pytest

Remove Artifact.discover_storage_partitions
  src/arti/artifacts/__init__.py
  src/arti/backends/memory.py
  src/arti/graphs/__init__.py
  tests/arti/graphs/test_graph.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_literal_io.py
  tests/arti/io/test_localfile_io.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Remove BaseArtifact and move Statistic to separate model
  src/arti/artifacts/__init__.py
  src/arti/producers/__init__.py
  src/arti/statistics/__init__.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Replace IOInfo with extended View metadata
  src/arti/artifacts/__init__.py
  src/arti/executors/local.py
  src/arti/graphs/__init__.py
  src/arti/internal/type_hints.py
  src/arti/producers/__init__.py
  src/arti/views/__init__.py
  tests/arti/graphs/test_graph.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_literal_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/producers/test_producer.py
  tests/arti/views/test_python.py
  tests/arti/views/test_views.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Remove unused Timestamp version utcnow fallback
  src/arti/versions/__init__.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Move arti.storage.InputFingerprints to arti.partitions.InputFingerprints
  src/arti/__init__.py
  src/arti/backends/__init__.py
  src/arti/backends/memory.py
  src/arti/executors/local.py
  src/arti/partitions/__init__.py
  src/arti/storage/__init__.py
  src/arti/storage/_internal.py
  src/arti/storage/literal.py
  src/arti/storage/local.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Refactor Executor build logic to more reusable components
  src/arti/executors/__init__.py
  src/arti/executors/local.py
  src/arti/producers/__init__.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Add more pylint ignores
  pyproject.toml
Due: none

Mark gcsfs optional
  poetry.lock
  pyproject.toml
Due: none

Remove unnecessary TypedBox key TypeVar
  src/arti/graphs/__init__.py
  src/arti/internal/utils.py
  tests/arti/internal/test_utils.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Upgrade to poetry 1.2
  .envrc
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
Due: none

Update and add more pre-commit checks
  .pre-commit-config.yaml
Due: none

Add codes to all type ignore comments
  docs/examples/spend/demo.py
  src/arti/graphs/__init__.py
  src/arti/internal/__init__.py
  src/arti/internal/dispatch.py
  src/arti/internal/patches.py
  src/arti/internal/type_hints.py
  src/arti/internal/utils.py
  src/arti/io/__init__.py
  src/arti/producers/__init__.py
  src/arti/storage/__init__.py
  src/arti/types/__init__.py
  src/arti/types/pyarrow.py
  src/arti/types/pydantic.py
  src/arti/types/python.py
  tests/arti/dummies.py
  tests/arti/internal/test_dispatch.py
  tests/arti/internal/test_models.py
  tests/arti/internal/test_type_hints.py
  tests/arti/internal/test_utils.py
  tests/arti/producers/test_producer.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/test_fingerprints.py
  tests/arti/types/test_python_adapters.py
  tests/arti/views/test_views.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Always run mypy on whole repo in pre-commit
  .pre-commit-config.yaml
Due: none

Fix Threshold to be a Model
  src/arti/thresholds/__init__.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Show slowest test durations
  pyproject.toml
Due: none

Remove pre-commit install in favor of poetry managed dev dep
  .envrc
Due: none

Loosen dependency upper bounds
  poetry.lock
  pyproject.toml
Due: none

Replace GHA deprecated set-output with GITHUB_OUTPUT
  .github/workflows/ci.yaml
Due: none

Skip codecov on test failure
  .github/workflows/ci.yaml
Due: none

Bump CI python versions
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/weekly-analysis.yaml
Due: none

Move dev deps to >= and poetry lock
  poetry.lock
  pyproject.toml
Due: none

Bump .python-version
  .python-version
Due: none

mypy updates
  docs/examples/spend/demo.py
  src/arti/graphs/__init__.py
  src/arti/internal/dispatch.py
  stubs/multimethod.pyi
  tests/arti/producers/test_producer.py
  tests/arti/test_thresholds.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest
