Repository artigraph/artigraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, ruff, black, blacken-docs, mypy

poetry-check:
  name: poetry-check
  entry: poetry check
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: ruff
  language: system

black:
  name: black
  entry: black
  language: system

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: false

Fix sane mypy errors
  src/arti/backends/memory.py
  src/arti/graphs/__init__.py
  src/arti/internal/utils.py
  src/arti/io/__init__.py
  src/arti/types/python.py
  tests/arti/internal/test_utils.py
  tests/arti/producers/test_producer.py
Due: ruff, black, blacken-docs, mypy

Fix pyarrow regression
  src/arti/types/pyarrow.py
Due: ruff, black, blacken-docs, mypy

Fix X | Y union checks and tidy others
  src/arti/internal/type_hints.py
Due: ruff, black, blacken-docs, mypy

Remove pytest from pre-commit hooks
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

ruff check py 3.9
  docs/examples/spend/demo.py
  src/arti/internal/dispatch.py
  src/arti/internal/type_hints.py
  src/arti/internal/vendored/setuptools.py
  src/arti/types/pyarrow.py
  tests/arti/graphs/test_graph.py
  tests/arti/internal/test_models.py
  tests/arti/producers/test_producer.py
Due: ruff, black, blacken-docs, mypy

Update to py 3.10+ and bump deps
  .github/workflows/ci.yaml
  .python-version
  poetry.lock
  pyproject.toml
Due: poetry-check

Ignore insane mypy errors
  src/arti/storage/google/cloud/storage.py
  tests/arti/graphs/test_graph.py
  tests/arti/internal/test_models.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/producers/test_producer.py
  tests/arti/types/test_python_adapters.py
  tests/arti/views/test_python.py
Due: ruff, black, blacken-docs, mypy

Update ruff config
  .pre-commit-config.yaml
  pyproject.toml
Due: poetry-check

ruff check py 3.10
  src/arti/__init__.py
  src/arti/artifacts/__init__.py
  src/arti/backends/__init__.py
  src/arti/graphs/__init__.py
  src/arti/internal/dispatch.py
  src/arti/internal/models.py
  src/arti/internal/type_hints.py
  src/arti/internal/utils.py
  src/arti/io/__init__.py
  src/arti/partitions/__init__.py
  src/arti/producers/__init__.py
  src/arti/storage/__init__.py
  src/arti/storage/_internal.py
  src/arti/storage/literal.py
  src/arti/storage/local.py
  src/arti/types/__init__.py
  src/arti/types/bigquery.py
  src/arti/types/python.py
  src/arti/views/__init__.py
  stubs/box.pyi
  stubs/parse.pyi
  tests/arti/internal/test_models.py
  tests/arti/internal/test_type_hints.py
  tests/arti/internal/test_utils.py
  tests/arti/producers/test_producer.py
  tests/arti/storage/test_storage_internal.py
  tests/arti/types/test_pandas_adapters.py
  tests/arti/types/test_pydantic_adapters.py
  tests/arti/types/test_python_adapters.py
  tests/arti/views/test_views.py
Due: ruff, black, blacken-docs, mypy

Rename StoragePartition.keys to StoragePartition.partition_key
  src/arti/backends/memory.py
  src/arti/executors/__init__.py
  src/arti/graphs/__init__.py
  src/arti/storage/__init__.py
  src/arti/storage/_internal.py
  src/arti/storage/google/cloud/storage.py
  src/arti/storage/literal.py
  src/arti/storage/local.py
  tests/arti/graphs/test_graph.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/storage/test_gcs_storage.py
  tests/arti/storage/test_literal_storage.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/storage/test_storage_internal.py
Due: ruff, black, blacken-docs, mypy

Rename PartitionField subclass key fields to value
  src/arti/partitions/__init__.py
  tests/arti/artifacts/test_artifact.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/partitions/test_partitions.py
  tests/arti/storage/test_gcs_storage.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/storage/test_storage_internal.py
Due: ruff, black, blacken-docs, mypy

Add StoragePartitionSnapshot to disambiguate fingerprinted partitions
  src/arti/__init__.py
  src/arti/backends/__init__.py
  src/arti/backends/memory.py
  src/arti/executors/__init__.py
  src/arti/executors/local.py
  src/arti/graphs/__init__.py
  src/arti/internal/type_hints.py
  src/arti/io/__init__.py
  src/arti/io/json_stringliteral_python.py
  src/arti/producers/__init__.py
  src/arti/storage/__init__.py
  src/arti/storage/google/cloud/storage.py
  src/arti/storage/literal.py
  src/arti/storage/local.py
  tests/arti/dummies.py
  tests/arti/graphs/test_graph.py
  tests/arti/internal/test_type_hints.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_literal_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/producers/test_producer.py
  tests/arti/storage/test_gcs_storage.py
  tests/arti/storage/test_literal_storage.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/views/test_python.py
Due: ruff, black, blacken-docs, mypy

Update to py3.12+
  .github/workflows/ci.yaml
  .python-version
  poetry.lock
  pyproject.toml
Due: poetry-check

ruff
  src/arti/backends/__init__.py
  src/arti/formats/__init__.py
  src/arti/internal/models.py
  src/arti/internal/type_hints.py
  src/arti/internal/utils.py
  src/arti/storage/__init__.py
  src/arti/versions/__init__.py
  tests/arti/artifacts/test_artifact.py
  tests/arti/versions/test_version.py
Due: ruff, black, blacken-docs, mypy

Update to py3.12+ (#528)
  .github/workflows/ci.yaml
  .python-version
  poetry.lock
  pyproject.toml
  src/arti/backends/__init__.py
  src/arti/formats/__init__.py
  src/arti/internal/models.py
  src/arti/internal/type_hints.py
  src/arti/internal/utils.py
  src/arti/storage/__init__.py
  src/arti/versions/__init__.py
  tests/arti/artifacts/test_artifact.py
  tests/arti/versions/test_version.py
Due: poetry-check, ruff, black, blacken-docs, mypy

Remove old python version reference from README.md
  README.md
Due: blacken-docs

Fix CI publish
  .github/workflows/ci.yaml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Disable mypy until we can switch to pyright
  .pre-commit-config.yaml
Due: none

Re-enable ipdb
  .envrc
Due: none

Add todo note on numpy.dtypes support
  src/arti/types/numpy.py
Due: ruff, black, blacken-docs, mypy

Tidy ruff check ignores
  pyproject.toml
  tests/arti/artifacts/test_artifact.py
  tests/arti/internal/test_dispatch.py
  tests/arti/internal/test_internal.py
  tests/arti/producers/test_producer.py
Due: poetry-check, ruff, black, blacken-docs, mypy

Update pre-commit hook versions
  .pre-commit-config.yaml
Due: none

Apply ruff fixes
  tests/arti/producers/test_producer.py
  tests/arti/types/test_python_adapters.py
Due: ruff, black, blacken-docs, mypy

Replace automatic DCO signoff with check
  .pre-commit-config.yaml
  bin/add-dco-signoff.sh
  bin/check-dco-signoff.sh
Due: none

Rename .envrc.secrets to .envrc.user
  .envrc
  .gitignore
  bin/dev
Due: none

Replace poetry with rye, simplify bootstrapping and CI
  .envrc
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  bin/dev
  poetry.lock
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  tests/arti/producers/test_producer.py
Due: poetry-check, ruff, black, blacken-docs, mypy

Tidy conftest
  tests/conftest.py
Due: ruff, black, blacken-docs, mypy

Replace poetry with rye to simplify local and CI setup (#565)
  .envrc
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  bin/dev
  poetry.lock
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  tests/arti/producers/test_producer.py
  tests/conftest.py
Due: poetry-check, ruff, black, blacken-docs, mypy

Fix publish
  .github/workflows/ci.yaml
Due: none

Remove local version identifier from pypi upload
  .github/workflows/ci.yaml
Due: none

Path conditions:
  poetry-check: any of: ^pyproject.toml$
  ruff: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(md|markdown|mdown)$, \.py$
  mypy: any of: \.py$
