Repository artigraph/artigraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

.pre-commit-config.yaml:

default_stages: [commit, push, manual]
repos:
  - repo: local
    hooks:
      - id: dco-sign-off
        name: DCO Sign-off
        entry: sh bin/add-dco-signoff.sh
        stages: [prepare-commit-msg]
        language: system
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, golden]
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
  - repo: local  # Prefer local tools to streamline version management with poetry
    hooks:
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        files: ^pyproject.toml$
        language: system
        pass_filenames: false
      # Rewriters
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --keep-runtime-typing --py39-plus
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [markdown, python]
      # Checkers
      - id: bandit
        name: bandit
        entry: bandit -ll -r
        files: '^src/'
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        pass_filenames: false  # Running on a subset of files may mask interface breaks
        types: [python]
      - id: pytest
        name: pytest
        entry: bash -c
        args:
          - >
            if [[ $(git branch --show-current) == "golden" ]]; then
              pytest
            else
              # If tests become too slow, mark slow ones and omit. We'll add a little coverage buffer for working
              # commits, though CI/PRs will still enforce 100%.
              pytest --cov-fail-under=90
            fi
        language: system
        pass_filenames: false
        types: [python]

Move community section and LFAI presentation up in README
  README.md
Due: blacken-docs

Disable implicit multiline string concatenation
  pyproject.toml
Due: poetry-check

Disable implicit multiline string concatenation (#426)
  pyproject.toml
Due: poetry-check

Add StoragePartition.storage reference
  src/arti/storage/__init__.py
  tests/arti/io/test_literal_io.py
  tests/arti/storage/test_literal_storage.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/views/test_python.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add StoragePartition.storage reference (#427)
  src/arti/storage/__init__.py
  tests/arti/io/test_literal_io.py
  tests/arti/storage/test_literal_storage.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/views/test_python.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Rename Connection to BackendConnection
  src/arti/__init__.py
  src/arti/backends/__init__.py
  src/arti/backends/memory.py
  src/arti/executors/__init__.py
  src/arti/graphs/__init__.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Rename Connection to BackendConnection (#428)
  src/arti/__init__.py
  src/arti/backends/__init__.py
  src/arti/backends/memory.py
  src/arti/executors/__init__.py
  src/arti/graphs/__init__.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add reusable clean_test_name fixture
  tests/conftest.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Improve some logs and errors
  src/arti/executors/__init__.py
  src/arti/types/__init__.py
  tests/arti/types/test_types.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Warn on (likely accidental) Fingerprint.fingerprint access
  src/arti/fingerprints/__init__.py
  src/arti/internal/models.py
  tests/arti/test_fingerprints.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Support None input to Fingerprint.from_* constructors
  src/arti/fingerprints/__init__.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Test Fingerprint.from_* with None input
  tests/arti/test_fingerprints.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Improve misc logs/errors and add reusable clean_test_name fixture (#430)
  src/arti/executors/__init__.py
  src/arti/types/__init__.py
  tests/arti/types/test_types.py
  tests/conftest.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Support None input to Fingerprint.from_* constructors and warn on invalid Fingerprint.fingerprint use (#429)
  src/arti/fingerprints/__init__.py
  src/arti/internal/models.py
  tests/arti/test_fingerprints.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add WIP neo4j backend
  poetry.lock
  pyproject.toml
  src/arti/backends/neo4j.py
  tests/arti/backends/test_neo4j.py
Due: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Lower pydantic back to <2 for now
  poetry.lock
  pyproject.toml
Due: poetry-check

Apply new ruff rewrites
  src/arti/producers/__init__.py
  tests/arti/types/test_python_adapters.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add assert_not_none helper
  src/arti/internal/type_hints.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Change Fingerprint to be an int(64) subclass instead of a Model to ease serialization
  src/arti/executors/local.py
  src/arti/fingerprints/__init__.py
  src/arti/graphs/__init__.py
  src/arti/internal/models.py
  src/arti/internal/utils.py
  src/arti/partitions/__init__.py
  src/arti/producers/__init__.py
  src/arti/storage/__init__.py
  src/arti/storage/_internal.py
  src/arti/storage/literal.py
  tests/arti/graphs/test_graph.py
  tests/arti/internal/test_models.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/producers/test_producer.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/storage/test_storage_internal.py
  tests/arti/test_fingerprints.py
  tests/arti/versions/test_version.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Change Fingerprint to be an int64 subclass instead of a Model (#434)
  src/arti/executors/local.py
  src/arti/fingerprints/__init__.py
  src/arti/graphs/__init__.py
  src/arti/internal/models.py
  src/arti/internal/type_hints.py
  src/arti/internal/utils.py
  src/arti/partitions/__init__.py
  src/arti/producers/__init__.py
  src/arti/storage/__init__.py
  src/arti/storage/_internal.py
  src/arti/storage/literal.py
  tests/arti/graphs/test_graph.py
  tests/arti/internal/test_models.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/producers/test_producer.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/storage/test_storage_internal.py
  tests/arti/test_fingerprints.py
  tests/arti/versions/test_version.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Rename PartitionKey->PartitionField and CompositeKeys->PartitionKey
  pyproject.toml
  src/arti/__init__.py
  src/arti/executors/__init__.py
  src/arti/graphs/__init__.py
  src/arti/internal/utils.py
  src/arti/partitions/__init__.py
  src/arti/producers/__init__.py
  src/arti/storage/__init__.py
  src/arti/storage/_internal.py
  src/arti/storage/literal.py
  src/arti/types/bigquery.py
  tests/arti/dummies.py
  tests/arti/graphs/test_graph.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/partitions/test_partitions.py
  tests/arti/storage/test_gcs_storage.py
  tests/arti/storage/test_literal_storage.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/storage/test_storage_internal.py
Due: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Bump misc deps
  poetry.lock
Due: none

Bump misc deps (#436)
  poetry.lock
Due: none

tidy import
  tests/arti/partitions/test_partitions.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Rename PartitionKey->PartitionField and CompositeKeys->PartitionKey (#435)
  pyproject.toml
  src/arti/__init__.py
  src/arti/executors/__init__.py
  src/arti/graphs/__init__.py
  src/arti/internal/utils.py
  src/arti/partitions/__init__.py
  src/arti/producers/__init__.py
  src/arti/storage/__init__.py
  src/arti/storage/_internal.py
  src/arti/storage/literal.py
  src/arti/types/bigquery.py
  tests/arti/dummies.py
  tests/arti/graphs/test_graph.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/partitions/test_partitions.py
  tests/arti/storage/test_gcs_storage.py
  tests/arti/storage/test_literal_storage.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/storage/test_storage_internal.py
Due: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Ungroup dependabot updates
  .github/dependabot.yaml
Due: none

Ungroup dependabot updates (#481)
  .github/dependabot.yaml
Due: none

Format config files
  .envrc
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/weekly-analysis.yaml
  .pre-commit-config.yaml
  pyproject.toml
Due: poetry-check

Update to py 3.10+ and bump deps
  .github/workflows/ci.yaml
  .python-version
  poetry.lock
  pyproject.toml
Due: poetry-check

Remove pytest from pre-commit hooks
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
Due: none

Fix pyarrow regression
  src/arti/types/pyarrow.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Update ruff config
  .pre-commit-config.yaml
  pyproject.toml
Due: poetry-check

ruff check py 3.9
  docs/examples/spend/demo.py
  src/arti/internal/dispatch.py
  src/arti/internal/type_hints.py
  src/arti/internal/vendored/setuptools.py
  src/arti/types/pyarrow.py
  tests/arti/graphs/test_graph.py
  tests/arti/internal/test_models.py
  tests/arti/producers/test_producer.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

ruff check py 3.10
  src/arti/__init__.py
  src/arti/artifacts/__init__.py
  src/arti/backends/__init__.py
  src/arti/graphs/__init__.py
  src/arti/internal/dispatch.py
  src/arti/internal/models.py
  src/arti/internal/type_hints.py
  src/arti/internal/utils.py
  src/arti/io/__init__.py
  src/arti/partitions/__init__.py
  src/arti/producers/__init__.py
  src/arti/storage/__init__.py
  src/arti/storage/_internal.py
  src/arti/storage/literal.py
  src/arti/storage/local.py
  src/arti/types/__init__.py
  src/arti/types/bigquery.py
  src/arti/types/python.py
  src/arti/views/__init__.py
  stubs/box.pyi
  stubs/parse.pyi
  tests/arti/internal/test_models.py
  tests/arti/internal/test_type_hints.py
  tests/arti/internal/test_utils.py
  tests/arti/producers/test_producer.py
  tests/arti/storage/test_storage_internal.py
  tests/arti/types/test_pandas_adapters.py
  tests/arti/types/test_pydantic_adapters.py
  tests/arti/types/test_python_adapters.py
  tests/arti/views/test_views.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Fix sane mypy errors
  src/arti/backends/memory.py
  src/arti/graphs/__init__.py
  src/arti/internal/utils.py
  src/arti/io/__init__.py
  src/arti/types/python.py
  tests/arti/internal/test_utils.py
  tests/arti/producers/test_producer.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Fix X | Y union checks and tidy others
  src/arti/internal/type_hints.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Ignore insane mypy errors
  src/arti/storage/google/cloud/storage.py
  tests/arti/graphs/test_graph.py
  tests/arti/internal/test_models.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/producers/test_producer.py
  tests/arti/types/test_python_adapters.py
  tests/arti/views/test_python.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest
