Repository artigraph/artigraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

poetry-check:
  name: poetry-check
  entry: poetry check
  language: system
  pass_filenames: false

pyupgrade:
  name: pyupgrade
  entry: pyupgrade --keep-runtime-typing --py39-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: black
  language: system

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

bandit:
  name: bandit
  entry: bandit -ll -r
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c
  args:
  ...

Simplify LocalFilePartition.compute_content_fingerprint
  src/arti/storage/local.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add _ContainerMixin and _TimeMixin Type mixins
  src/arti/types/__init__.py
  src/arti/types/pyarrow.py
  src/arti/types/python.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Temporarily disable ipdb
  .envrc
Due: none

Add optional google-cloud-bigquery dep
  poetry.lock
  pyproject.toml
Due: poetry-check

Add BigQuery TypeSystem
  src/arti/types/bigquery.py
  tests/arti/types/test_bigquery_adapters.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add BigQuery TypeSystem (#312)
  poetry.lock
  pyproject.toml
  src/arti/types/bigquery.py
  tests/arti/types/test_bigquery_adapters.py
Due: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Update poetry and relock
  .github/workflows/ci.yaml
  poetry.lock
Due: none

Add test warning ignores for google_crc32c
  pyproject.toml
Due: poetry-check

Update poetry and relock (#334)
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Use explicit CODECOV_TOKEN to avoid rate limits
  .github/workflows/ci.yaml
Due: none

Use pull_request_target to support PRs from forks
  .github/workflows/ci.yaml
Due: none

Allow g.read with raw Artifacts even if others are missing
  src/arti/graphs/__init__.py
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Use var instead of secret for CODECOV_TOKEN
  .github/workflows/ci.yaml
Due: none

Use pr
  .github/workflows/ci.yaml
Due: none

Add explicit codecov token to fix rate limits (#335)
  .github/workflows/ci.yaml
Due: none

Allow Graph.read with raw Artifacts when others are missing (#338)
  src/arti/graphs/__init__.py
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add GraphSnapshot to handle Graph tagging and i/o
  docs/examples/spend/demo.py
  src/arti/__init__.py
  src/arti/executors/__init__.py
  src/arti/executors/local.py
  src/arti/graphs/__init__.py
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add back Graph.{read,write}
  src/arti/graphs/__init__.py
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

misc
  src/arti/graphs/__init__.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add missing example data
  docs/examples/spend/transactions/1970-01-01.json
  docs/examples/spend/transactions/1970-01-02.json
Due: none

fixup
  src/arti/graphs/__init__.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

tidier tests
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Add GraphSnapshot to handle Graph tagging and i/o (#336)
  docs/examples/spend/demo.py
  docs/examples/spend/transactions/1970-01-01.json
  docs/examples/spend/transactions/1970-01-02.json
  src/arti/__init__.py
  src/arti/executors/__init__.py
  src/arti/executors/local.py
  src/arti/graphs/__init__.py
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add Connection class to enforce explicit Backend connections
  src/arti/backends/__init__.py
  src/arti/backends/memory.py
  src/arti/executors/__init__.py
  src/arti/graphs/__init__.py
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add Connection class to enforce explicit Backend connections (#337)
  src/arti/backends/__init__.py
  src/arti/backends/memory.py
  src/arti/executors/__init__.py
  src/arti/graphs/__init__.py
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Bump to 0.0.2
  pyproject.toml
Due: poetry-check

Bump to 0.0.3 for next release
  pyproject.toml
Due: poetry-check

Install all extras when building docs
  .github/workflows/publish-docs.yaml
Due: none

Use None instead of NoneType when matching annotations
  src/arti/internal/dispatch.py
  src/arti/internal/type_hints.py
  src/arti/types/python.py
  src/arti/views/__init__.py
  src/arti/views/python.py
  tests/arti/types/test_python_adapters.py
  tests/arti/views/test_python.py
  tests/arti/views/test_views.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Use None instead of NoneType when matching annotations (#341)
  src/arti/internal/dispatch.py
  src/arti/internal/type_hints.py
  src/arti/types/python.py
  src/arti/views/__init__.py
  src/arti/views/python.py
  tests/arti/types/test_python_adapters.py
  tests/arti/views/test_python.py
  tests/arti/views/test_views.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Expose arti.Connection
  src/arti/__init__.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Use specific type args instead of Backend[Any] and Storage[Any]
  src/arti/artifacts/__init__.py
  src/arti/backends/__init__.py
  src/arti/backends/memory.py
  src/arti/graphs/__init__.py
  src/arti/internal/models.py
  src/arti/io/__init__.py
  src/arti/storage/__init__.py
  tests/arti/artifacts/test_artifact.py
  tests/arti/internal/test_models.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Avoid importing MemoryBackend on arti.graph import
  src/arti/backends/memory.py
  src/arti/graphs/__init__.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Clean up quoted and Self type hints
  src/arti/fingerprints/__init__.py
  src/arti/internal/models.py
  src/arti/internal/utils.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Ensure Graph.fingerprint and hash(Graph) are stable
  src/arti/internal/models.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Fix typing.Self refs for <=3.10
  src/arti/internal/models.py
  src/arti/internal/type_hints.py
  src/arti/internal/utils.py
  src/arti/storage/__init__.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Persist Graph{Snapshot} in Backend
  src/arti/backends/__init__.py
  src/arti/backends/memory.py
  src/arti/executors/__init__.py
  src/arti/graphs/__init__.py
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Remove last Storage[Any]
  src/arti/artifacts/__init__.py
  tests/arti/storage/test_local_storage.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Persist Graph{Snapshot} in Backend (#342)
  src/arti/backends/__init__.py
  src/arti/backends/memory.py
  src/arti/executors/__init__.py
  src/arti/graphs/__init__.py
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Path conditions:
  poetry-check: any of: ^pyproject.toml$
  pyupgrade: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(md|markdown|mdown)$, \.py$
  bandit: any of: ^src/ and \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
