Repository artigraph/artigraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, blacken-docs, pyupgrade, isort, black, pytest

.pre-commit-config.yaml:

default_stages: [commit, push, manual]
repos:
  - repo: local
    hooks:
      - id: dco-sign-off
        name: DCO Sign-off
        entry: sh bin/add-dco-signoff.sh
        stages: [prepare-commit-msg]
        language: system
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, golden]
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
  - repo: local  # Prefer local tools to streamline version management with poetry
    hooks:
      - id: bandit
        name: bandit
        entry: bandit -ll -r
        files: '^src/'
        language: system
        types: [python]
      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [markdown, python]
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --keep-runtime-typing --py39-plus
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: pytest
        name: pytest
        # If tests become too slow, mark slow ones and omit. We'll add a little coverage buffer for working commits,
        # though CI/PRs will still enforce 100%.
        entry: pytest --cov-fail-under=90
        language: system
        pass_filenames: false
        types: [python]
      # trufflehog only works against commits (not the index), which prevents use in the pre-commit hook. It could run
      # as post-commit, but that introduces a lot of noise. Instead, we'll just run before push.
      - id: trufflehog
        name: trufflehog
        entry: trufflehog --exclude_paths .trufflehog_ignore.txt --regex .
        language: system
        pass_filenames: false
        stages: [push]

Add GCS tests + emulator
  poetry.lock
  pyproject.toml
  tests/arti/io/test_gcs_io.py
  tests/arti/storage/test_gcs_storage.py
  tests/conftest.py
Due: blacken-docs, pyupgrade, isort, black, pytest

Add GCSFile Storage (#149)
  poetry.lock
  pyproject.toml
  src/arti/io/json_gcsfile_python.py
  src/arti/io/pickle_gcsfile_python.py
  src/arti/storage/google/cloud/storage.py
  tests/arti/io/test_gcs_io.py
  tests/arti/storage/test_gcs_storage.py
  tests/conftest.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Tidy codeql-analysis.yaml
  .github/workflows/codeql-analysis.yaml
Due: none

Install py 3.10 for codeql
  .github/workflows/codeql-analysis.yaml
Due: none

Fix CodeQL Analysis (#152)
  .github/workflows/codeql-analysis.yaml
Due: none

Remove pytest-isort/pytest-black to work around pytest 7 compatibility; use pre-commit in CI
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
Due: none

Test pre-commit blacken-docs
  src/arti/artifacts/__init__.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Remove test doc
  src/arti/artifacts/__init__.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Update .github/workflows/ci.yaml
  .github/workflows/ci.yaml
Due: none

Use pre-commit in CI and remove pytest-black to fix pytest 7 compat (#198)
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
Due: none

Move flake8 and mypy checks to pre-commit
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

Fix mypy for bin/ and docs/
  bin/dev
  docs/examples/spend/demo.py
  pyproject.toml
Due: blacken-docs, pyupgrade, isort, black, pytest

Bump local python version
  .github/workflows/ci.yaml
  .python-version
Due: none

Use types-frozendict instead of our own stub
  poetry.lock
  pyproject.toml
  stubs/frozendict/core.pyi
Due: none

Workaround newer frozendict mypy issues
  src/arti/internal/utils.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Remove unused sgqlc stubs
  stubs/sgqlc/types/__init__.pyi
Due: none

Use internal frozendict implementation
  poetry.lock
  pyproject.toml
  src/arti/internal/models.py
  src/arti/internal/utils.py
  src/arti/producers/__init__.py
  tests/arti/internal/test_utils.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Use internal frozendict implementation (#199)
  poetry.lock
  pyproject.toml
  src/arti/internal/models.py
  src/arti/internal/utils.py
  src/arti/producers/__init__.py
  tests/arti/internal/test_utils.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Temporarily lower .python-version to fix dependabot
  .python-version
Due: none

Temporarily lower .python-version to fix dependabot (#201)
  .python-version
Due: none

Add repr to frozendict
  src/arti/internal/utils.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Simplify @classproperty
  src/arti/artifacts/__init__.py
  src/arti/internal/models.py
  src/arti/internal/utils.py
  src/arti/partitions/__init__.py
  tests/arti/internal/test_utils.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Update note for patch_TopologicalSorter_class_getitem in 3.11+
  src/arti/internal/patches.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Preserve shared state when deepcopying MemoryBackend
  src/arti/backends/memory.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Use proper gcp-storage-emulator release
  poetry.lock
  pyproject.toml
Due: none

Bump black target-version to py39
  pyproject.toml
Due: none

Add start time to LF AI & Data Presentation
  README.md
Due: blacken-docs

Add pyarrow TypeSystem
  poetry.lock
  pyproject.toml
  src/arti/types/pyarrow.py
  tests/arti/types/test_pyarrow_adapters.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Support workflow_dispatch for CI
  .github/workflows/ci.yaml
Due: none

Better handle poetry.lock merge conflicts in .envrc
  .envrc
Due: none

Remove deprecated pylint warning
  pyproject.toml
Due: none

Poetry lock
  poetry.lock
Due: none

Fix Iterable import path
  src/arti/storage/_internal.py
Due: bandit, blacken-docs, pyupgrade, isort, black, pytest

Mark pyarrow dep as optional
  poetry.lock
  pyproject.toml
Due: none

Install all optional deps in CI
  .github/workflows/ci.yaml
Due: none
