Repository artigraph/artigraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

.pre-commit-config.yaml:

default_stages: [commit, push, manual]
repos:
  - repo: local
    hooks:
      - id: dco-sign-off
        name: DCO Sign-off
        entry: sh bin/add-dco-signoff.sh
        stages: [prepare-commit-msg]
        language: system
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: no-commit-to-branch
        args: [--branch, golden]
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
    - id: python-check-blanket-noqa
    - id: python-check-blanket-type-ignore
  - repo: local  # Prefer local tools to streamline version management with poetry
    hooks:
      - id: poetry-check
        name: poetry-check
        entry: poetry check
        files: ^pyproject.toml$
        language: system
        pass_filenames: false
      # Rewriters
      - id: pyupgrade
        name: pyupgrade
        entry: pyupgrade --keep-runtime-typing --py39-plus
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: blacken-docs
        name: blacken-docs
        entry: blacken-docs
        language: system
        types_or: [markdown, python]
      # Checkers
      - id: bandit
        name: bandit
        entry: bandit -ll -r
        files: '^src/'
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        pass_filenames: false  # Running on a subset of files may mask interface breaks
        types: [python]
      - id: pytest
        name: pytest
        entry: bash -c
        args:
          - >
            if [[ $(git branch --show-current) == "golden" ]]; then
              pytest
            else
              # If tests become too slow, mark slow ones and omit. We'll add a little coverage buffer for working
              # commits, though CI/PRs will still enforce 100%.
              pytest --cov-fail-under=90
            fi
        language: system
        pass_filenames: false
        types: [python]

Bump CI python versions
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/weekly-analysis.yaml
Due: none

Move dev deps to >= and poetry lock
  poetry.lock
  pyproject.toml
Due: poetry-check

Skip codecov on test failure
  .github/workflows/ci.yaml
Due: none

Add python 3.11 to CI
  .github/workflows/ci.yaml
Due: none

Set .python-version to 3.11
  .python-version
Due: none

Ignore google-crc32c warning in tests
  pyproject.toml
Due: poetry-check

mypy
  src/arti/internal/patches.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Fix lenient_issubclass GenericAlias check on py 3.11
  src/arti/internal/type_hints.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add support for python 3.11 (#289)
  .github/workflows/ci.yaml
  .python-version
  pyproject.toml
  src/arti/internal/patches.py
  src/arti/internal/type_hints.py
Due: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Fix spend example
  docs/examples/spend/demo.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Update black to work around fixedarch issue
  poetry.lock
Due: none

Bump poetry in CI
  .github/workflows/ci.yaml
Due: none

Update poetry.lock to 2.0 format
  poetry.lock
Due: none

Bump python versions in CI
  .github/workflows/ci.yaml
Due: none

Bump python versions in CI (#307)
  .github/workflows/ci.yaml
Due: none

Relock and black
  poetry.lock
  pyproject.toml
  tests/arti/producers/test_producer.py
  tests/arti/types/test_pydantic_adapters.py
  tests/arti/types/test_python_adapters.py
  tests/arti/views/test_views.py
Due: poetry-check, pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Relock and black (#308)
  poetry.lock
  pyproject.toml
  tests/arti/producers/test_producer.py
  tests/arti/types/test_pydantic_adapters.py
  tests/arti/types/test_python_adapters.py
  tests/arti/views/test_views.py
Due: poetry-check, pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Support Graph pickling
  src/arti/backends/memory.py
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Simplify ArtifactBox namespace tracking and fix pickling
  poetry.lock
  pyproject.toml
  src/arti/graphs/__init__.py
  tests/arti/graphs/test_graph.py
Due: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Support Graph pickling (#306)
  poetry.lock
  pyproject.toml
  src/arti/backends/memory.py
  src/arti/graphs/__init__.py
  tests/arti/graphs/test_graph.py
Due: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Relock and remove now unused type ignores
  poetry.lock
  src/arti/internal/utils.py
  tests/arti/internal/test_models.py
  tests/arti/producers/test_producer.py
  tests/arti/types/test_python_adapters.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Remove typing.Self use to fix py <3.11
  src/arti/internal/utils.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Remove typing.Self use to fix py <3.11 (#310)
  src/arti/internal/utils.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Update sh pin and fix v2
  bin/dev
  poetry.lock
  pyproject.toml
Due: poetry-check

Update pylint disables
  pyproject.toml
Due: poetry-check

Avoid manual pydantic.Field.outer_type_ updates for 1.10+
  src/arti/types/__init__.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Avoid manual pydantic.Field.outer_type_ updates for 1.10+ (#318)
  src/arti/types/__init__.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add extra pytest warning ignores
  pyproject.toml
Due: poetry-check

Remove trufflehog
  .github/workflows/ci.yaml
  .trufflehog_ignore.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

Tidy pyarrow type system
  src/arti/types/pyarrow.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Remove trufflehog (#323)
  .github/workflows/ci.yaml
  .trufflehog_ignore.txt
  poetry.lock
  pyproject.toml
Due: poetry-check

Remove old type ignore
  tests/arti/internal/test_models.py
Due: pyupgrade, isort, black, blacken-docs, flake8, mypy, pytest

Remove trufflehog from weekly-analysis workflow
  .github/workflows/weekly-analysis.yaml
Due: none

Skip pre-commit run on push
  .pre-commit-config.yaml
Due: none

Bump pydantic
  poetry.lock
Due: none

Use pydantic mypy plugin and add ignores
  docs/examples/spend/demo.py
  pyproject.toml
  src/arti/types/pyarrow.py
  src/arti/types/python.py
  tests/arti/artifacts/test_artifact.py
  tests/arti/graphs/test_graph.py
  tests/arti/internal/test_models.py
  tests/arti/partitions/test_partitions.py
  tests/arti/producers/test_producer.py
  tests/arti/storage/test_storage.py
  tests/arti/views/test_views.py
Due: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest
