Repository artigraph/artigraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

poetry-check:
  name: poetry-check
  entry: poetry check
  language: system
  pass_filenames: false

pyupgrade:
  name: pyupgrade
  entry: pyupgrade --keep-runtime-typing --py39-plus
  language: system

isort:
  name: isort
  entry: isort
  language: system

black:
  name: black
  entry: black
  language: system

blacken-docs:
  name: blacken-docs
  entry: blacken-docs
  language: system

bandit:
  name: bandit
  entry: bandit -ll -r
  language: system

flake8:
  name: flake8
  entry: flake8
  language: system

mypy:
  name: mypy
  entry: mypy
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c
  args:
  ...

Support passing in Graph.artifacts
  src/arti/graphs/__init__.py
  src/arti/internal/models.py
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Ignore pylint fixmes
  pyproject.toml
Due: poetry-check

Make Graph.artifacts a standard field (#343)
  src/arti/graphs/__init__.py
  src/arti/internal/models.py
  tests/arti/graphs/test_graph.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Use __future__.annotations
  src/arti/annotations/__init__.py
  src/arti/artifacts/__init__.py
  src/arti/executors/local.py
  src/arti/formats/__init__.py
  src/arti/formats/json.py
  src/arti/formats/pickle.py
  src/arti/internal/__init__.py
  src/arti/internal/dispatch.py
  src/arti/internal/patches.py
  src/arti/internal/type_hints.py
  src/arti/internal/vendored/setuptools.py
  src/arti/io/__init__.py
  src/arti/io/json_gcsfile_python.py
  src/arti/io/json_localfile_python.py
  src/arti/io/json_stringliteral_python.py
  src/arti/io/pickle_gcsfile_python.py
  src/arti/io/pickle_localfile_python.py
  src/arti/partitions/__init__.py
  src/arti/producers/__init__.py
  src/arti/statistics/__init__.py
  src/arti/storage/_internal.py
  src/arti/storage/google/cloud/storage.py
  src/arti/storage/literal.py
  src/arti/thresholds/__init__.py
  src/arti/types/__init__.py
  src/arti/types/bigquery.py
  src/arti/types/pydantic.py
  src/arti/types/python.py
  src/arti/versions/__init__.py
  src/arti/views/__init__.py
  src/arti/views/python.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Remove Format.type field
  src/arti/artifacts/__init__.py
  src/arti/formats/__init__.py
  tests/arti/artifacts/test_artifact.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Remove Storage.{type,format} fields
  src/arti/artifacts/__init__.py
  src/arti/graphs/__init__.py
  src/arti/storage/__init__.py
  tests/arti/artifacts/test_artifact.py
  tests/arti/graphs/test_graph.py
  tests/arti/io/test_literal_io.py
  tests/arti/storage/test_gcs_storage.py
  tests/arti/storage/test_literal_storage.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/views/test_python.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Use __future__.annotations (#345)
  src/arti/annotations/__init__.py
  src/arti/artifacts/__init__.py
  src/arti/executors/local.py
  src/arti/formats/__init__.py
  src/arti/formats/json.py
  src/arti/formats/pickle.py
  src/arti/internal/__init__.py
  src/arti/internal/dispatch.py
  src/arti/internal/patches.py
  src/arti/internal/type_hints.py
  src/arti/internal/vendored/setuptools.py
  src/arti/io/__init__.py
  src/arti/io/json_gcsfile_python.py
  src/arti/io/json_localfile_python.py
  src/arti/io/json_stringliteral_python.py
  src/arti/io/pickle_gcsfile_python.py
  src/arti/io/pickle_localfile_python.py
  src/arti/partitions/__init__.py
  src/arti/producers/__init__.py
  src/arti/statistics/__init__.py
  src/arti/storage/_internal.py
  src/arti/storage/google/cloud/storage.py
  src/arti/storage/literal.py
  src/arti/thresholds/__init__.py
  src/arti/types/__init__.py
  src/arti/types/bigquery.py
  src/arti/types/pydantic.py
  src/arti/types/python.py
  src/arti/versions/__init__.py
  src/arti/views/__init__.py
  src/arti/views/python.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Remove Format.type and Storage.{type,format} fields (#344)
  src/arti/artifacts/__init__.py
  src/arti/formats/__init__.py
  src/arti/graphs/__init__.py
  src/arti/storage/__init__.py
  tests/arti/artifacts/test_artifact.py
  tests/arti/graphs/test_graph.py
  tests/arti/io/test_literal_io.py
  tests/arti/storage/test_gcs_storage.py
  tests/arti/storage/test_literal_storage.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/views/test_python.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Replace pytest-sugar with pytest-pretty
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Replace pytest-sugar with pytest-pretty (#346)
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
Due: poetry-check

Skip direnv dep sync on pyproject.toml only changes
  .envrc
Due: none

Update to poetry 1.4.1
  .github/workflows/ci.yaml
  poetry.lock
Due: none

Replace most code checkers/rewriters with ruff
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  setup.cfg
Due: poetry-check

Apply ruff autofixes
  src/arti/internal/models.py
  src/arti/internal/type_hints.py
  src/arti/internal/utils.py
  src/arti/internal/vendored/setuptools.py
  src/arti/types/__init__.py
  src/arti/types/pandas.py
  src/arti/types/python.py
  src/arti/views/__init__.py
  tests/arti/artifacts/test_artifact.py
  tests/arti/graphs/test_graph.py
  tests/arti/internal/test_models.py
  tests/arti/internal/test_type_hints.py
  tests/arti/internal/test_utils.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/partitions/test_partitions.py
  tests/arti/producers/test_producer.py
  tests/arti/storage/test_local_storage.py
  tests/arti/storage/test_storage_internal.py
  tests/arti/types/test_bigquery_adapters.py
  tests/arti/types/test_numpy_adapters.py
  tests/arti/types/test_pandas_adapters.py
  tests/arti/types/test_pyarrow_adapters.py
  tests/arti/types/test_pydantic_adapters.py
  tests/arti/types/test_python_adapters.py
  tests/arti/types/test_types.py
  tests/arti/versions/test_version.py
  tests/arti/views/test_views.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Fix other ruff errors
  src/arti/internal/type_hints.py
  src/arti/internal/utils.py
  src/arti/io/json_gcsfile_python.py
  src/arti/io/json_localfile_python.py
  src/arti/io/json_stringliteral_python.py
  src/arti/io/pickle_gcsfile_python.py
  src/arti/io/pickle_localfile_python.py
  src/arti/types/__init__.py
  src/arti/types/bigquery.py
  src/arti/types/pyarrow.py
  src/arti/types/python.py
  tests/arti/artifacts/test_artifact.py
  tests/arti/internal/test_models.py
  tests/arti/internal/test_type_hints.py
  tests/arti/internal/test_utils.py
  tests/arti/io/test_gcs_io.py
  tests/arti/io/test_localfile_io.py
  tests/arti/partitions/test_partitions.py
  tests/arti/producers/test_producer.py
  tests/arti/storage/test_gcs_storage.py
  tests/arti/storage/test_storage.py
  tests/arti/storage/test_storage_internal.py
  tests/arti/test_fingerprints.py
  tests/arti/types/test_bigquery_adapters.py
  tests/arti/types/test_pyarrow_adapters.py
  tests/arti/types/test_pydantic_adapters.py
  tests/arti/types/test_python_adapters.py
  tests/arti/types/test_types.py
  tests/arti/versions/test_version.py
Due: pyupgrade, isort, black, blacken-docs, bandit, flake8, mypy, pytest

Add publishing to (Test)PyPI
  .github/workflows/ci.yaml
  pyproject.toml
Due: poetry-check

misc ci config changes
  .github/workflows/ci.yaml
Due: none

verify venv py version
  .github/workflows/ci.yaml
Due: none

loosen py version constraints
  .github/workflows/ci.yaml
Due: none

quoting
  .github/workflows/ci.yaml
Due: none

Cache pre-commit hook installs
  .github/workflows/ci.yaml
Due: none

Update GH pages on publish
  .github/workflows/ci.yaml
  .github/workflows/publish-docs.yaml
Due: none

Fix pre-commit cache
  .github/workflows/ci.yaml
Due: none

Cache mypy and pre-commit
  .github/workflows/ci.yaml
Due: none

Fix dev publish
  .github/workflows/ci.yaml
Due: none

Test TestPyPI publish
  .github/workflows/ci.yaml
Due: none

Fix cache hashing
  .github/workflows/ci.yaml
Due: none

no quotes on cache paths...
  .github/workflows/ci.yaml
Due: none

Automate release publishing and improve CI caching (#348)
  .github/workflows/ci.yaml
  .github/workflows/publish-docs.yaml
  pyproject.toml
Due: poetry-check

Remove errant pypi repo flag during publish
  .github/workflows/ci.yaml
Due: none

Deployed with MkDocs version: 1.2.4
  reference/arti/graphs/index.html
  reference/arti/internal/utils/index.html
  search/search_index.json
  sitemap.xml.gz
Due: none

Bump to v0.0.4a0
  pyproject.toml
Due: poetry-check

Fix post-release version bump
  .github/workflows/ci.yaml
Due: none

Tidy PR template (most things enforced by CI)
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: blacken-docs

Replace CHANGELOG with GitHub Releases
  CHANGELOG.md
  README.md
Due: blacken-docs

Path conditions:
  poetry-check: any of: ^pyproject.toml$
  pyupgrade: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  blacken-docs: any of: \.(md|markdown|mdown)$, \.py$
  bandit: any of: ^src/ and \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
  pytest: any of: \.py$
